@model IEnumerable<Scarpe.Models.Scarpa>

@{
    ViewBag.Title = "Admin";
}

<div class="d-flex justify-content-between align-items-center">
    <h2>Admin</h2>
    @Html.ActionLink("Aggiungi Scarpa", "AggiungiScarpa", "Utente", new { area = "" }, new { @class = "btn btn-primary" })


</div>


<div class="container">
    <div class="row">
        @foreach (Scarpe.Models.Scarpa scarpa in Model)
        {
            <div class="col-12 border-bottom ">
                <div class="d-flex align-items-center justify-content-between">
                    <img src="@scarpa.ImmagineCopertina" alt="@scarpa.NomeScarpa" style="width: 200px" />
                    <div class="d-flex flex-column">
                        <p class="mb-0">@scarpa.NomeScarpa</p>
                        <p class="mb-0">@scarpa.Descrizione</p>
                        <p class="mb-0">Prezzo: @scarpa.Prezzo</p>
                    </div>
                    <div>
                        <a href="@Url.Action("ModificaScarpa", "Utente", new { idScarpa = scarpa.idScarpa })" class="btn btn-primary">Modifica</a>
                        @if (scarpa.Attivo)
                        {

                            using (Html.BeginForm("DisattivaScarpa", "Utente", new { id = scarpa.idScarpa
                            }, FormMethod.Post))
                            {

                                <input type="submit" value="Disattiva" class="btn btn-danger" />
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("AttivaScarpa", "Utente", new { id = scarpa.idScarpa
                            }, FormMethod.Post))
                            {

                                <input type="submit" value="Attiva" class="btn btn-success" />
                            }

                        }
                    </div>
                </div>
            </div>
        }

    </div>
</div>

